# Copyright (c) 2025 PSoC 4200L Zephyr Port
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_PSOC4200L

config NUM_IRQS
	default 32

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_node_int_prop_int,/cpus/cpu@0,clock-frequency)

endif # SOC_SERIES_PSOC4200L
